@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #393c41;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }
}
